<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301712994692-17b39ea70rtlj38qb3fh1on4646mdoeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301712994692-17b39ea70rtlj38qb3fh1on4646mdoeu</string>
	<key>API_KEY</key>
	<string>AIzaSyC8QwpHD088TtwgIZNug02EBHnCfR04g9A</string>
	<key>GCM_SENDER_ID</key>
	<string>301712994692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatterApp</string>
	<key>PROJECT_ID</key>
	<string>chatterapp-16a0c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterapp-16a0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301712994692:ios:87b5883da8ec840503edd1</string>
</dict>
</plist>